<div class="min-h-screen bg-zetage-black text-white selection:bg-zetage-red font-body">
  
  <nav class="flex justify-between items-center p-6 border-b border-white/5 sticky top-0 bg-zetage-black/80 backdrop-blur-md z-50">
    <div class="font-title text-3xl italic tracking-tighter hover:text-zetage-red cursor-pointer transition-all duration-500 hover:scale-110">
      ZETAGE
    </div>
    
    <div class="hidden md:flex gap-10 font-body text-xl">
      <a href="#" class="nav-link font-title text-white/70 hover:text-white">Productos</a>
      <a href="#" class="nav-link font-title text-white/70 hover:text-white">Galería</a>
      <a href="#" class="nav-link font-title text-white/70 hover:text-white">Contacto</a>
    </div>

    <button class="font-title text-xs border border-white px-6 py-2 hover:bg-zetage-red hover:border-zetage-red hover:text-white transition-all duration-500 hover:skew-x-[-12deg]">
      SHOP NOW
    </button>
  </nav>

  <main class="grid grid-cols-1 md:grid-cols-12 gap-1 p-1">
    
    <div class="md:col-span-8 bg-[#111] h-[65vh] relative overflow-hidden group">
      <img src="images/Zetagepic2.jpg" class="w-full h-full object-cover opacity-50 group-hover:scale-110 group-hover:opacity-80 transition duration-[2s]">
      <div class="absolute inset-0 p-10 flex flex-col justify-end bg-gradient-to-t from-black/90 to-transparent">
        <h2 class="font-title text-zetage-red italic text-6xl md:text-[120px] leading-[0.8] uppercase">
          Chaos Made <br> <span class="text-white opacity-20">Fantasy</span>
        </h2>
      </div>
    </div>

    <div class="md:col-span-4 bg-zetage-red h-[65vh] flex items-center justify-center overflow-hidden">
      <img src="images/Alienzinisinfondo.png" class="w-full h-full object-cover mix-blend-multiply hover:mix-blend-normal hover:scale-105 transition duration-700">
    </div>

    <div class="md:col-span-4 bg-zetage-yellow h-[50vh] flex flex-col items-center justify-center p-10 text-black relative group">
        <img src="images/ZetaGe lata.PNG" class="w-48 drop-shadow-2xl mb-4 group-hover:rotate-[25deg] transition-transform duration-500">
        <p class="font-title italic text-3xl uppercase tracking-tighter">ZetaGe Lata</p>
    </div>

    <div class="md:col-span-8 bg-[#151515] h-[50vh] p-12 flex flex-col justify-center border border-white/5 relative overflow-hidden">
      <span class="font-title text-zetage-red text-xs tracking-[0.5em] uppercase mb-4">Underground Spirit</span>
      <h3 class="font-body text-4xl md:text-5xl mb-6 max-w-xl italic leading-tight">
        "Encontramos la perfección en lo imperfecto."
      </h3>
      <button class="font-title w-fit border-b-4 border-zetage-red text-xl hover:text-zetage-red hover:pl-4 transition-all duration-300">
        VER COLECCIÓN →
      </button>
    </div>
  </main>

   <section class="py-20 px-10 bg-[#0A0A0A]">
    <div class="max-w-7xl mx-auto">
      <h2 class="font-title text-5xl mb-12 uppercase italic text-zetage-red">Drop #1</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        
        <div class="group relative bg-[#111] border border-white/5 overflow-hidden cursor-pointer">
          <div class="aspect-video overflow-hidden">
            <img src="images/Zetagejpg.jpg" class="w-full h-full object-cover group-hover:scale-110 transition duration-[1.5s]">
            <div class="absolute inset-0 bg-zetage-red/20 opacity-0 group-hover:opacity-100 transition duration-500 flex items-center justify-center">
                <span class="font-title text-white text-3xl uppercase italic border-2 border-white px-8 py-2">Ver Producto</span>
            </div>
          </div>
          <div class="p-8 flex justify-between items-center">
            <div>
              <h3 class="font-title text-3xl uppercase italic">ZetaGe Redgular</h3>
              <p class="font-body text-xl italic text-white/50">SOLD OUT</p>
            </div>
            <p class="font-title text-2xl text-zetage-yellow">$100.000</p>
          </div>
        </div>

        <div class="group relative bg-[#111] border border-white/5 overflow-hidden cursor-pointer">
          <div class="aspect-video overflow-hidden">
            <img src="images/muestras.jpg" class="w-full h-full object-cover group-hover:scale-110 transition duration-[1.5s]">
            <div class="absolute inset-0 bg-zetage-red/20 opacity-0 group-hover:opacity-100 transition duration-500 flex items-center justify-center">
                <span class="font-title text-white text-3xl uppercase italic border-2 border-white px-8 py-2">Ver Producto</span>
            </div>
          </div>
          <div class="p-8 flex justify-between items-center">
            <div>
              <h3 class="font-title text-3xl uppercase italic">ZetaGe Redgular</h3>
              <p class="font-body text-xl italic text-white/50">SOLD OUT</p>
            </div>
            <p class="font-title text-2xl text-zetage-yellow">$100.000</p>
          </div>
        </div>

      </div>
    </div>

     <div class="max-w-7xl mx-auto">
      <h2 class="font-title text-5xl mb-12 uppercase italic text-zetage-red"></h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        
        <div class="group relative bg-[#111] border border-white/5 overflow-hidden cursor-pointer">
          <div class="aspect-video overflow-hidden">
            <img src="images/Zetage2jpg.jpg" class="w-full h-full object-cover group-hover:scale-110 transition duration-[1.5s]">
            <div class="absolute inset-0 bg-zetage-red/20 opacity-0 group-hover:opacity-100 transition duration-500 flex items-center justify-center">
                <span class="font-title text-white text-3xl uppercase italic border-2 border-white px-8 py-2">Ver Producto</span>
            </div>
          </div>
          <div class="p-8 flex justify-between items-center">
            <div>
              <h3 class="font-title text-3xl uppercase italic">ZetaGe Redgular</h3>
              <p class="font-body text-xl italic text-white/50">SOLD OUT</p>
            </div>
            <p class="font-title text-2xl text-zetage-yellow">$100.000</p>
          </div>
        </div>

        <div class="group relative bg-[#111] border border-white/5 overflow-hidden cursor-pointer">
          <div class="aspect-video overflow-hidden">
            <img src="images/esqueleto.jpg" class="w-full h-full object-cover group-hover:scale-110 transition duration-[1.5s]">
            <div class="absolute inset-0 bg-zetage-red/20 opacity-0 group-hover:opacity-100 transition duration-500 flex items-center justify-center">
                <span class="font-title text-white text-3xl uppercase italic border-2 border-white px-8 py-2">Ver Producto</span>
            </div>
          </div>
          <div class="p-8 flex justify-between items-center">
            <div>
              <h3 class="font-title text-3xl uppercase italic">ZetaGe Redgular</h3>
              <p class="font-body text-xl italic text-white/50">SOLD OUT</p>
            </div>
            <p class="font-title text-2xl text-zetage-yellow">$100.000</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="min-h-screen bg-zetage-black text-white selection:bg-zetage-red font-body">

  <main>
    <section id="drop02" class="bg-white text-black py-24 px-10 border-b-8 border-zetage-red">
      <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-16 items-center">
        <div class="relative group overflow-hidden bg-gray-100 p-4 border border-black/10">
          <img src="images/Postzetadrop2ilustrado.png" class="w-full h-full object-cover group-hover:scale-105 transition duration-1000">
          <div class="absolute top-4 right-4 font-title text-xl tracking-widest text-zetage-red">DROP #2</div>
        </div>

        <div class="space-y-8">
          <h2 class="font-title text-7xl md:text-9xl leading-none uppercase italic">02 <br> <span class="text-zetage-red">White</span> <br> Chaos</h2>
          <div class="space-y-4">
            <p class="font-body text-2xl italic text-gray-700">
              "La pureza del blanco interrumpida por el caos de Zetage."
            </p>
            <ul class="font-body text-lg space-y-2 border-l-4 border-black pl-6 uppercase tracking-wider">
              <li>• Premium Cotton </li>
              <li>• Oversize Essential Fit</li>
              <li>• High-Definition Print</li>
            </ul>
          </div>
          <button class="w-full bg-black text-white font-title py-5 text-2xl hover:bg-zetage-red transition-all duration-300 skew-x-[-10deg]">
            SOLD OUT
          </button>
        </div>
      </div>
    </section>

   <section id="soldout" class="py-20 px-10 bg-[#0A0A0A]">
      <div class="max-w-7xl mx-auto">
        <h2 class="font-title text-5xl mb-12 uppercase italic text-white/40 tracking-tighter">Drop #2</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          
          <div class="group relative bg-[#111] border border-white/5 overflow-hidden">
            <div class="aspect-[4/5] overflow-hidden">
              <img src="images/zetageboy.jpg" class="w-full h-full object-cover group-hover:scale-110 transition duration-700">
            </div>
            <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">Sold Out</div>
            <div class="p-6">
              <h3 class="font-title text-2xl uppercase italic text-white">ZetaGe White Oversize</h3>
              <p class="font-body text-lg italic text-white/50">100k</p>
            </div>
          </div>

          <div class="group relative bg-[#111] border border-white/5 overflow-hidden">
            <div class="aspect-[4/5] overflow-hidden">
               <img src="images/v.jpeg" class="w-full h-full object-cover group-hover:scale-110 transition duration-700">
            </div>
            <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">Sold Out</div>
            <div class="p-6">
              <h3 class="font-title text-2xl uppercase italic text-white">ZetaGe White Oversize</h3>
              <p class="font-body text-lg italic text-white/50">100k</p>
            </div>
          </div>

          <div class="group relative bg-[#111] border border-white/5 overflow-hidden">
            <div class="aspect-[4/5] overflow-hidden">
              <img src="images/Zetagepic2.jpg" class="w-full h-full object-cover group-hover:scale-110 transition duration-700">
            </div>
            <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">Sold Out</div>
            <div class="p-6">
              <h3 class="font-title text-2xl uppercase italic text-white">ZetaGe White Oversize</h3>
              <p class="font-body text-lg italic text-white/50">100k</p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>

  <section id="drop03" class="py-20 bg-zetage-red text-white relative overflow-hidden">
  <div class="absolute -top-10 -left-10 w-[70%] h-[120%] bg-white rounded-full translate-x-[-50%] hidden md:block"></div>
  
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center relative z-10 px-10">
    <div class="relative group">
      <img src="images/camisacortapost2.png" class="w-full h-auto object-cover border-4 border-white shadow-2xl group-hover:scale-105 transition duration-700">
      <div class="absolute bottom-4 right-4 bg-black text-white font-title px-6 py-2 text-2xl skew-x-[-10deg]">75K</div>
    </div>

    <div class="space-y-6">
      <span class="font-title text-black text-xl tracking-widest italic uppercase">Drop 03 / New Release</span>
      <h2 class="font-title text-6xl md:text-8xl leading-none uppercase italic text-black">Cherry <br> <span class="text-white">Edition</span></h2>
      <p class="font-body text-2xl text-gray-800 italic max-w-md">Diseños frescos y cortes "cutout" que marcan la diferencia. Disponibles por tiempo limitado.</p>
      <button class="bg-black text-white font-title px-12 py-4 text-xl hover:bg-white hover:text-black transition-all uppercase skew-x-[-10deg]">
        VER PRODUCTOS
      </button>
    </div>
  </div>
</section>

<section class="py-20 px-10 bg-white text-black">
  <div class="max-w-7xl mx-auto">
    <h2 class="font-title text-5xl mb-12 uppercase italic underline decoration-zetage-red decoration-4">Cherry Edition</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      
      <div class="group relative bg-gray-50 border border-black/5 overflow-hidden">
        <div class="aspect-[3/4] overflow-hidden">
          <img src="images/topnegro1.jpg" class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
        </div>
        <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">
          Sold Out
        </div>
        <div class="p-6">
          <h3 class="font-title text-2xl uppercase italic">Cherry Edition Black</h3>
          <p class="font-body text-lg italic text-gray-500 price-tag">75K</p>
        </div>
      </div>

      <div class="group relative bg-gray-50 border border-black/5 overflow-hidden">
        <div class="aspect-[3/4] overflow-hidden">
          <img src="images/femenino1.jpg" class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
        </div>
        <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">
          Sold Out
        </div>
        <div class="p-6">
          <h3 class="font-title text-2xl uppercase italic">Cherry Edition White</h3>
          <p class="font-body text-lg italic text-gray-500 price-tag">75K</p>
        </div>
      </div>

      <div class="group relative bg-gray-50 border border-black/5 overflow-hidden">
        <div class="aspect-[3/4] overflow-hidden">
          <img src="images/negro2.jpeg" class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
        </div>
        <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">
          Sold Out
        </div>
        <div class="p-6">
          <h3 class="font-title text-2xl uppercase italic">Cherry Edition Black</h3>
          <p class="font-body text-lg italic text-gray-500 price-tag">75K</p>
        </div>
      </div>

      <div class="group relative bg-gray-50 border border-black/5 overflow-hidden">
        <div class="aspect-[3/4] overflow-hidden">
          <img src="images/topblanco.jpg" class="w-full h-full object-cover group-hover:scale-105 transition duration-700">
        </div>
        <div class="absolute top-4 left-4 bg-zetage-red text-white font-title px-4 py-1 text-sm uppercase skew-x-[-10deg]">
          Sold Out
        </div>
        <div class="p-6">
          <h3 class="font-title text-2xl uppercase italic">Cherry Edition White</h3>
          <p class="font-body text-lg italic text-gray-500 price-tag">75K</p>
        </div>
      </div>

    </div>
  </div>
</section>

 <section id="drop04" class="relative bg-white text-black py-20 px-10 overflow-hidden border-b-[20px] border-black">
  
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-12 gap-12 items-center">
    
    <div class="lg:col-span-5 space-y-8 z-10 order-2 lg:order-1">
      <div class="inline-block bg-black text-white font-title px-4 py-1 text-xl skew-x-[-15deg] mb-4">
        DROP 04 // NEW RELEASE
      </div>
      
      <h2 class="font-title text-8xl md:text-9xl leading-[0.8] uppercase italic tracking-tighter">
        Boxy <br> <span class="text-zetage-red underline">Chaos</span>
      </h2>

      <div class="space-y-6">
        <p class="font-body text-3xl italic leading-tight text-gray-800">
          "Estructura cuadrada y hombros caídos. La definición de volumen urbano."
        </p>
        
        <div class="grid grid-cols-2 gap-4 border-t border-black pt-6">
          <div>
            <span class="font-title text-sm uppercase text-zetage-red block">Corte</span>
            <span class="font-body text-xl font-bold uppercase italic">Boxy Fit Especial</span>
          </div>
          <div>
            <span class="font-title text-sm uppercase text-zetage-red block">Textil</span>
            <span class="font-body text-xl font-bold uppercase italic">Heavy Cotton 300g</span>
          </div>
        </div>
      </div>

      <button class="group relative flex items-center gap-6 font-title text-3xl uppercase italic hover:text-zetage-red transition-colors w-full sm:w-auto">
        <span>Comprar</span>
      </button>
    </div>

    <div class="lg:col-span-7 relative order-1 lg:order-2">
      <div class="absolute inset-0 bg-gray-100 rotate-2 translate-x-4 translate-y-4 -z-10"></div>
      
      <div class="relative overflow-hidden border-[1px] border-black shadow-[-20px_20px_0px_0px_rgba(225,29,72,1)]">
        
        <div class="flex overflow-x-auto snap-x snap-mandatory scrollbar-hide" id="boxy-slider">
          
          <div class="min-w-full snap-start relative group">
            <img src="images/zetageboxymarfil.png" class="w-full h-auto object-cover" alt="Boxy Negra">
            <div class="absolute top-6 right-6 bg-zetage-red text-white font-title px-4 py-1 text-lg uppercase tracking-widest italic">
              Marfil Edition
            </div>
          </div>

          <div class="min-w-full snap-start relative group">
            <img src="images/zetageboxyblanca.png" class="w-full h-auto object-cover" alt="Boxy Blanca">
            <div class="absolute top-6 right-6 bg-zetage-red text-white font-title px-4 py-1 text-lg uppercase tracking-widest italic">
              White Edition
            </div>
          </div>

        </div>

        <div class="absolute bottom-0 left-0 bg-black text-white p-6 font-body text-sm flex gap-10 z-20">
            <div class="flex flex-col">
                <span class="opacity-50 uppercase text-[10px]">Ancho / Chest</span>
                <span class="text-2xl font-bold">65 CM</span>
            </div>
            <div class="flex flex-col border-l border-white/20 pl-10">
                <span class="opacity-50 uppercase text-[10px]">Largo / Length</span>
                <span class="text-2xl font-bold">68 CM</span>
            </div>
        </div>
      </div>

      <div class="flex justify-end items-center gap-4 mt-6 animate-pulse">
        <span class="font-body text-sm italic uppercase text-gray-500 tracking-tighter">Desliza para cambiar de color</span>
        <div class="flex gap-2">
            <div class="w-3 h-3 rounded-full bg-black"></div>
            <div class="w-3 h-3 rounded-full bg-gray-300"></div>
        </div>
      </div>
    </div>

  </div>

  <style>
    #boxy-slider {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    #boxy-slider::-webkit-scrollbar {
      display: none;
    }
  </style>
</section>

  <footer class="bg-white text-black py-4 overflow-hidden border-t-4 border-zetage-red">
    <div class="animate-marquee-right">
        <p class="font-body font-black uppercase text-2xl tracking-[0.2em]">
            Z-CREW LIMITED EDITION • CHAOS MADE FANTASY • DROP 02 • DISPONIBLE AHORA • ZETAGE WEAR • UNIDADES LIMITADAS • Z-CREW LIMITED EDITION • CHAOS MADE FANTASY • 
        </p>
    </div>
  </footer>

